<span class="card-builder-main">
  <span class="header-section">
    <h1>WHAT DO WE HAVE HERE?</h1>
    <em class="subtitle"><span class="rotate-arrow">&#8626;</span>magick item card builder</em>
    <span class="button-section">
      <button @showHideAnimation *ngIf="cardDeck.length > 0" class="print" (click)="print()">Print</button>
      <button @showHideAnimation class="collapse" (click)="showSidebar = !showSidebar">{{showSidebar ? 'Collapse Sidebar' : 'Expand Sidebar'}}
      </button>
    </span>
  </span>
  <div class="card-creator-layout">
    <span class="sidebar-section">
      <span @slideLeft *ngIf="showSidebar" class="input-section">
        <form [formGroup]="cardData" class="form-layout" (ngSubmit)="onSubmit()">
          <label for="itemName">Item Name</label>
          <input id="itemName"type='text' formControlName="itemName">
          <label for="flavor">Flavor Text</label>
          <textarea id="flavor"type='text' formControlName="flavor"></textarea>
          <label for="description">Description</label>
          <textarea id="description"type='text' formControlName="description"></textarea>
          <label for="keywords">Keywords</label>
          <input id="keywords"type='text' formControlName="keywords">
          <button @slideLeft *ngIf="cardData.value.itemName && cardData.value.description" class="create" type="submit">Create Card</button>
        </form>
        <button @slideLeft class="clearForm" *ngIf="showClearButton()" (click)="clearForm()">Clear Form</button>
        <button @slideLeft *ngIf="cardDeck.length > 0" class="clear" (dblclick)="clearDeck()">Doubleclick to Clear Deck</button>
        <em class="subtitle"><span class="rotate-arrow">&#8626;</span>add item name & description to create a card</em>
      </span>

      <span @slideLeft *ngIf="showSidebar" class="card-preview">
        <div class="index-card blank">
          <strong class="title">
            {{cardData.value.itemName || 'item name'}}
          </strong>
          <em class="flavor">
            {{cardData.value.flavor || 'flavor text'}}
          </em>
          <div class="descrip" [innerHtml]="cardData.value.description || 'item description'">
          </div>
          <em class="keywords">
            {{cardData.value.keywords || 'keywords'}}
          </em>
        </div>
        <em class="subtitle"><span class="rotate-arrow">&#8626;</span>card preview</em>
      </span>
    </span>

    <div @slideUp *ngIf="cardDeck.length > 0" class="copy-info">
      double click card to copy for discord
    </div>

    <div class="card-grid">
      <div @slideRight (dblclick)="copyCard(i)" *ngFor="let card of cardDeck; index as i" class="index-card deck-card">
        <div class="title-section">
          <div class="remove-section">
            <span class="remove" (click)="remove(i)">x</span>
          </div>
          <div class="title">{{card.itemName}}</div>
        </div>
        <em class="flavor">
          {{card.flavor}}
        </em>
        <div class="descrip">
          {{card.description}}
        </div>
        <em class="keywords">
          {{card.keywords}}
        </em>
      </div>
    </div>

  </div>
</span>
