<span class="card-builder-main">
  <span class="header-section">
    <h1>WHAT DO WE HAVE HERE?</h1>
    <em class="subtitle"><span class="rotate-arrow">&#8626;</span>magick item card builder for swords and sworcery games</em>
    <span class="subtitle small">v1.1 created by <a href="https://twitter.com/codeLiches" target="_blank">@codeLiches</a></span>
    <span class="button-section">
      <button @showHideAnimation *ngIf="cardDeck.length > 0" class="print" (click)="print()"><strong>print</strong></button>
      <button @showHideAnimation class="collapse" (click)="showSidebar = !showSidebar"><strong>{{showSidebar ? 'hide builder' : 'show builder'}}</strong>
      </button>
    </span>
  </span>
  <div class="card-creator-layout">
    <span class="sidebar-section">
      <span @slideLeft *ngIf="showSidebar" class="input-section">
        <form [formGroup]="cardData" class="form-layout" (ngSubmit)="onSubmit()">
          <label for="itemName">What do we name it?</label>
          <input id="itemName"type='text' formControlName="itemName" autocomplete="off">
          <label for="flavor">What stories do we tell about it?</label>
          <textarea id="flavor"type='text' formControlName="flavor" autocomplete="off"></textarea>
          <label for="description">What does it do?</label>
          <textarea id="description"type='text' formControlName="description" autocomplete="off"></textarea>
          <label for="keywords">What quick descriptions do we give it?</label>
          <input id="keywords"type='text' formControlName="keywords" autocomplete="off">
          <button @slideLeft *ngIf="cardData.value.itemName && cardData.value.description" class="create" type="submit"><strong>create card</strong></button>
        </form>
        <button @slideLeft class="clearForm" *ngIf="showClearButton()" (click)="clearForm()"><strong>clear builder</strong></button>
        <button @slideLeft *ngIf="cardDeck.length > 0" class="clear" (dblclick)="clearDeck()"><strong>doubleclick to destroy the deck</strong></button>
        <em class="subtitle"><span class="rotate-arrow">&#8626;</span>add a name & a story to create a card</em>
      </span>

      <span @slideLeft *ngIf="showSidebar" class="card-preview">
        <div class="index-card blank">
          <strong class="title">
            {{cardData.value.itemName || 'what am i called?'}}
          </strong>
          <em class="flavor">
            {{cardData.value.flavor || 'what stories are told about me?'}}
          </em>
          <div class="descrip" [innerHtml]="cardData.value.description || 'What do I do?'">
          </div>
          <em class="keywords">
            {{cardData.value.keywords || 'quick little descriptions'}}
          </em>
        </div>
        <em class="subtitle"><span class="rotate-arrow">&#8626;</span>card preview</em>
      </span>
    </span>

    <div @slideUp *ngIf="cardDeck.length > 0" class="copy-info">
      double click card to copy for discord
    </div>

    <div class="card-grid">
      <div @slideRight (dblclick)="copyCard(i)" *ngFor="let card of cardDeck; index as i" class="index-card deck-card">
        <div class="title-section">
          <div class="remove-section">
            <span class="remove" (click)="remove(i)">x</span>
          </div>
          <strong class="title">{{card.itemName}}</strong>
        </div>
        <em class="flavor">
          {{card.flavor}}
        </em>
        <div class="descrip">
          {{card.description}}
        </div>
        <em class="keywords">
          {{card.keywords}}
        </em>
      </div>
    </div>

  </div>
</span>
