@font-face {
    font-family: "Gabriela-Regular";
    src: local("Gabriela-Regular"), url(./assets/fonts/Gabriela-Regular.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url(./assets/fonts/RobotoMono-VariableFont_wght.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./assets/fonts/Poppins-Regular.ttf) format('opentype');
    font-weight: 100 1000;
}

body {
    // background-image: linear-gradient(to right, black, #414141);
    // background-image: linear-gradient(to right, black, #787878);
    background-color: black;
    margin: 1rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 100vh;

    h1, .title, label {
        font-family: 'Gabriela-Regular', 'Roboto Mono', sans-serif;
    }
    button {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    textarea {
        resize: vertical;
        font-family: 'Poppins', sans-serif;
        &#flavor {
            text-transform: lowercase;
        }
    }
    input {
        &#itemName {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Gabriela-Regular', 'Roboto Mono', sans-serif;
        }
    }
    a {
        background-color: white;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
}

@media print {
    body {
        background-color: white;
        background-image: none;
        color: black;
        margin: 0rem;
    }
}