@font-face {
    font-family: "Gabriela-Regular";
    src: local("Gabriela-Regular"), url(./assets/fonts/Gabriela-Regular.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url(./assets/fonts/RobotoMono-VariableFont_wght.ttf) format('opentype');
    font-weight: 100 1000;
}

body {
    // background-image: linear-gradient(to right, black, #414141);
    background-image: linear-gradient(to right, black, #787878);
    margin: 1rem;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    height: 100vh;

    h1, .title, label {
        font-family: 'Gabriela-Regular', 'Roboto Mono', sans-serif;
    }
    button {
        font-family: 'Roboto Mono', sans-serif;
    }
    textarea {
        resize: vertical;
    }
    input#itemName {
        text-align: center;
    }
}

@media print {
    body {
        background-color: white;
        background-image: none;
        color: black;
        margin: 0rem;
    }
}